*~
*.DS_Store
*.log
*.history
*.vscode
$RECYCLE.BIN/
*node_modules
*npm-debug.log*

# web
web/.pnp
web/.pnp.js
web/coverage
web/build
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/yarn-debug.log*
web/yarn-error.log*

# mobile
mobile/.expo/*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
mobile/web-report/